<h1>User info</h1>

<% if @user.errors.any? %>
  <%= @user.errors.count %> error!
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @user do |f| %>
  <label for="inputName">Name</label><br>
  <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%><br>
  <label for="inputImage">Image</label><br>
  <%= f.file_field :profile_image, accept: "image/*" %><br>
  <label for="inputIntro">Introduction</label><br>
  <%= f.text_area :introduction, autofocus: true, id:"inputIntro" %><br>
  <%= f.submit "Update User" %>
<% end %>
